@import "variables";

button {
  padding: $button-padding;
  font-size: $button-size;
  background-color: $button-color;

  &:hover {
    background-color: $button-color-hover;
  }
}


#container {
  height: 30em;
  background-size: contain;
}


#listContainer {
  padding-top: 5em;
  text-align: center;

  li {
    list-style-type: none;
    font-size: 3em;
  }
}

@each $city, $img in $cities {
  .img-#{$city} {
    background: $img center no-repeat;

    @if $city == 'location' {
      color: yellow;
    } @else {
      color: black;
    }

  }
}
